@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

[hidden] {
  display: none
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html{
  font-family: "Noto Sans KR", sans-serif;
}

.frame{
  padding-top: 60px;
  width: 100%;
  background: #444;
}
/* styles.css 또는 관련 CSS 파일에 추가 */
.no-scroll {
  overflow: hidden;
}
.container{
  width: 90%;
  margin: 0 auto;
}
header{
  width: 100%;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
}
header ul{
  display: flex;
  gap: 24px;
  height: 60px;
  align-items: center;
}
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
header .inner .searchBox{
  
}
header .inner .searchBox .searchBoxButton{
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}
header .inner .searchBox .searchBar{
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
  background: rgba(0,0,0,0.8);
  height: 100px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: height 0.4s, padding 0.4s;
}
header .inner .searchBox .searchBar.off{
  height: 0;
  padding: 0 0;
}
header .inner .searchBox .searchBar.on{
  padding: 40px 0;
  height: 100px;
}
header .inner .searchBox .searchBar input{
  width: 100%;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 12px 20px;
  font-weight: 600;
  font-family: "Noto Sans KR", sans-serif;
}
header .inner .searchBox .searchBar .inner{
  display: flex;
}
header .inner .searchBox .searchBar .inner svg{
  margin-left: 16px;
  flex-shrink: 0;
  font-size: 36px;
  cursor: pointer;
}
header ul li a{
  text-decoration: none;
  color: #FFF;
}
header ul li.logo{
  margin-right: 40px;
}
header ul li.logo a{
  color:#E50914;
  font-weight: 700;
  font-size: 24px;
}

.mainPage{
  min-height: calc(100vh - 60px);
}
.searchResult{
  padding-top: 40px;
}
.searchResult .searchKeyword{
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.mainMovie{
  position: relative;
  z-index: 0;
  height: calc(100vh - 60px);
  overflow: hidden;
}
.mainMovie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainMovie::before{
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}
.contollWrap{
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  width: 100%;
}
.contollWrap h3{
  font-size: 46px;
  line-height: 52px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contollWrap p.exp{
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  max-width: 560px;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contollWrap .buttons{
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.contollWrap .buttons .button{
  width: 100px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}
.contollWrap .buttons .button.play{
  background: rgba(48, 48, 48, 0.7);
}
.contollWrap .buttons .button.detail{
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.contollWrap .buttons .button.like{
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.contollWrap .buttons .button.play:hover{
  background: rgba(48, 48, 48, 1);
}
.contollWrap .buttons .button.detail:hover{
  background: rgba(255, 255, 255, 1);
}
.movieListTitle{
  padding: 30px 6px;
  font-size: 28px;
  color: #FFF;
  font-weight: 500;
}
.movieList{
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.movieList .movieItem{
  width: calc(25% - 15px);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.movieList .movieItem .like-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  padding: 6px;
  background: #ffffffbb;
  border-radius: 8px;
  user-select: none;
}
.movieList .movieItem .like-btn.like {
  background: #ff1f1f;
  color: #FFF;
}

.popularMovie .movieList .movieItem{
  height: 430px;
}
.movieList .movieItem::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.4s;
}
.movieList .movieItem .movieTitle{
  font-size: 20px;
  color:#FFF;
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  z-index: 4;
  text-align: right;
  padding: 0 10px ;
  width: 100%;
}
.movieList .movieItem .popularMovieTitle{
  font-size: 24px;
  color:#FFF;
  font-weight: 500;
  position: absolute;
  top: 15px;
  z-index: 4;
  text-align: left;
  padding: 0 10px ;
  width: 100%;
}
.movieList .movieItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movieList .movieItem:hover::before{
  background: rgba(0, 0, 0, 0.9);
}
.movieList .movieItem .controller{
  position: absolute;
  z-index: 6;
  top: calc(50% - 10px);
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.4s;
}
.movieList .movieItem:hover .controller{
  opacity: 1;
}
.movieList .movieItem .controller .button{
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 500;
}
.movieList .movieItem .controller .button.play{
  background: rgba(48, 48, 48, 0.7);
  color: #FFF;
  transition: background 0.4s;
}
.movieList .movieItem .controller .button.play:hover{
  background: rgba(48, 48, 48, 1);
}
.movieList .movieItem .controller .button.detail{
  background: rgba(255, 255, 255, 0.7);
  color: #222;
  transition: background 0.4s;
}
.movieList .movieItem .controller .button.detail:hover{
  background: rgba(255, 255, 255, 1);
}
.movieList .movieItem .controller .button.like{
  background: rgb(59, 1, 1);
  color: #ffffff;
}
.movieList .movieItem .controller .button.like.on{
  background: rgb(146, 4, 4);
}

.detailPopup{
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.9);
}
.detailPopup .inner{
  width: 90%;
  height: 90%;
  background: #111111;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 6px;
  padding: 30px;
  max-width: 800px;
  max-height: 800px;
  color: #FFF;
  overflow: auto;
}
.detailPopup .inner::-webkit-scrollbar{
  display: none;
}
.detailPopup .inner .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailPopup .inner .top .title{
  font-size: 26px;
  line-height: 32px;
}
.detailPopup .inner .top .popupClose{
  font-size: 32px;
  user-select: none;
  cursor: pointer;
  margin-left: 10px;
  flex-shrink: 0;
}
.detailPopup .inner .contents{
  padding: 20px 0;
}
.detailPopup .inner .contents .openDate{
  font-size: 22px;
}
.detailPopup .inner .contents .overView{
  font-size: 18px;
  line-height: 32px;
  margin-top: 15px;
}
.detailPopup .inner .contents img{
  margin-top: 40px;
  width: 100%;
}
.errorPage{
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 500px;
  color: #FFF;
}
.errorPage .container{
  height: 100%;
}
.errorPage .inner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.errorPage .errorText{
  margin-top: -60px;
  font-size: 44px;
}
.errorPage .toHomeLink{
  margin-top: 35px;
  font-size: 28px;
  color: #FFF;
  text-decoration: none;
  background: #222;
  width: 200px;
  text-align: center;
  line-height: 52px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .movieList .movieItem{
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .movieList .movieItem{
    width: calc(100%);
  }
  header ul li.logo{
    margin-right: 20px;
  }
  header .inner .searchBox .searchBoxButton{
    font-size: 0;
  }
  .movieList .movieItem .movieTitle{
    font-size: 16px;
  }
  header ul{
    gap: 12px;
  }
  header ul li a{
    font-size: 14px;
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3f3f3f;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .inner {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 30px;
}
.loading .inner .text {
  color: #d3d3d3;
  font-size: 20px;
}

.genre .genre-list {
  display: flex; 
}

.genre .genre-list .genre-item {
  background: #000;
}


.genre-item {
  padding: 0 10px;
}

.genre-item .title {
  font-size: 20px;
  color: #FFF;
  font-weight: 700;
}

.genre-item .movieList {
  padding: 10px 0 40px;
  display: flex;
  flex-wrap: nowrap !important;
  gap: 20px;
  overflow: auto;
  user-select: none;
}

.genre-item .movieList::-webkit-scrollbar {
  display: none;
}

.genre-item .movieList .movieItem {
  flex-shrink: 0;
  width: 25%;
}
.genre-item .movieList .movieItem img {
  

}
.like-movie-page {
  min-height: 100dvh;
}

.empty-movie {
  text-align: center;
  font-size: 20px;
  color: #cfcfcf;
  padding: 60px 0;
}